/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

/* For Firefox */
@-moz-document url-prefix() {
	*{
		scrollbar-width: thin; /* Options: auto, thin, or none */
		scrollbar-color: rgb(107, 33, 168) #f1f1f1; /* thumb color and track color */
	}
}


/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px; /* Adjust the width as needed */
}

*::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Background of the scroll track */
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(107, 33, 168); /* Color of the scroll thumb */
	border-radius: 10px; /* Optional: for rounded edges */
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgb(85, 20, 127); /* Optional: color when hovered */
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes rotate {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.rotate{
	animation: rotate infinite ease-in-out 0.5s;
}

.menu-shadow{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
